* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background: #2D373B;
}

.container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	color: #fff;
	padding: 30px 0;
}
span {
	text-transform: uppercase;
	display: block;
	margin-top: 30px;
	font-size: 1.5em;
}

.buttons-container {
	background: #fff;
	height: 30px;
	margin-bottom: 25px;
}
button {
	background: none;
	border: none;
	color: #0088B5;
	height: 100%;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0;
	padding: 0 15px;
	font-weight: bold;
} 
button:hover {
	background: #0088B5;
	color: white;
}
button:focus {
	outline: none;
}

p {
	display: inline-block;
	width: 20%;
}
.selected {
	background: #0088B5;
	color: white;
}

.square-container {
	max-width: 600px;
	margin: 0 auto;
}

.square {
	width: 30%;
	float: left;
	padding-bottom: 30%;
	margin: 1.66%;
	border-radius: 10%;
}

@media only screen 
  and (max-device-width: 736px) { 
  	span {
		font-size: 1em;
	}
	button, p {
		font-size: 12px;
	}
}